<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>允许读取日历</string>
	<key>NSCameraUsageDescription</key>
	<string>允许使用相机</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_weshare._tcp</string>
		<string>_weshare._udp</string>
	</array>
</dict>
</plist>
